<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not Found</title>
</head>
<body>
    <div class="page-not-found container">

        <h1>Ooppss.....</h1>

        <p>the page you are looking for cannot be found . please check the url or try again later !</p>

        <div class="page-not-found">

            <h1 class="text text-danger">404 - PAGE NOT FOUND </h1>

        </div>
    </div>
</body>
</html>