
<a class="btn btn-primary" routerLink="header">Header Component</a>
<a class="btn btn-secondary" routerLink="first">First Component</a>
<a class="btn btn-warning" routerLink="second">Second Component</a>
<a class="btn btn-light" routerLink="third">Third Component</a>
<a class="btn btn-success" routerLink="forms">Forms Component</a>
<a class="btn btn-dark" routerLink="part1">Part1 Component</a>
<a class="btn btn-danger" routerLink="part2">Part2 Component</a>







<!-- <app-header></app-header>  -->


<router-outlet></router-outlet>
