
<button><a class="btn btn-primary" routerLink="header">Header Component</a></button>
<button><a class="btn btn-secondary" routerLink="first">First Component</a></button>
<button><a class="btn btn-warning" routerLink="second">Second Component</a></button>
<button><a class="btn btn-light" routerLink="third">Third Component</a></button>
<button><a class="btn btn-success" routerLink="forms">Forms Component</a></button>
<button><a class="btn btn-dark" routerLink="part1">Part1 Component</a></button>
<button><a class="btn btn-danger" routerLink="part2">Part2 Component</a></button>
<button><a class="btn btn-info" routerLink="create">Create Component</a></button>
<button><a class="btn btn-primary" routerLink="material">Material Component</a></button>














<!-- <app-header></app-header>  -->


<router-outlet></router-outlet>
