<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD</title>
</head>
<body>
    <h1 style="text-align: center;color: red;">CRUD</h1>

     <div class="container ">
        <form #userForm="ngForm" (ngSubmit)="update(userForm.value)">

            <label for="">ID</label><br>
            <input type="number" name="id" class="form-control" [ngModel]="data.id" required #nameRef="ngModel"><br><br>

            <label for="">NAME</label><br>
            <input type="text" name="name" class="form-control" [ngModel]="data.name" required #nameRef="ngModel"><br><br>


            <label for="">EMAIL</label><br>
            <input type="email" name="email" class="form-control" [ngModel]="data.email" required ><br><br>

            <label for="">PLACE</label><br>
            <input type="text"  name="place" class="form-control" [ngModel]="data.place" required> <br><br>

             <label for="">PHONE</label><br>
            <input type="number"  name="phone" class="form-control" [ngModel]="data.phone" required> <br><br>

            <input type="submit" value="SUBMIT" class=" btn btn-secondary form-control" [disabled]="userForm.invalid">
        </form>
        <br>

        
        


    </div>


    
</body>
</html>
