h1{
    text-shadow: 2px 2px 4px rgb(55, 55, 55);
}h1{
    text-shadow: 2px 2px 4px rgb(55, 55, 55);
}

h2{
    margin-top: 50px;
    color: blue;
    text-align: center;
    text-decoration: none;
    background-color: #00ff6a;
    text-shadow: 2px 2px 2px rgb(55, 55, 55);
}