<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>read</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body >

    <h1>Student Details</h1>

    <img src="assets/image.png"  width="200"  alt="">
    
    <table style="width: 50%;"border="2px">
        <tr>
            <th>NAME</th>
            <th>EMAIL</th>
            <th>PLACE</th>
            <th>PHONE</th>
            <th>DELETE</th>

        </tr>

        <tr *ngFor="let i of data">
            
            <td>{{i.name}}</td>
            <td>{{i.email}}</td>
            <td>{{i.place}}</td>
            <td>{{i.phone}}</td>
            <button (click)="delete(i.id)"><i class="fa-solid fa-trash"></i></button>
            <button (click)="edit(i.id)"><i class="fa-solid fa-pen-to-square"></i></button>

        </tr>
        

    </table>
</body>
</html>