h1{
    text-shadow: 2px 2px 3px black;
    
}
body{
   margin-top: 40px;
   background-image: linear-gradient(-225deg, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%);
}
label{
    font-size: 25px;
    font-weight: bold;
    text-shadow: 2px 2px 3px whitesmoke;
    
}

input{
    border-color:  black;
}