<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Material</title>
</head>
<body>

    <h1>MATERIAL COMPONENT</h1>

    <h1>{{ 'WELCOME' | translate }}</h1>

    <button class="btn btn-info ms-2" (click)="switchlan('en')">ENGLISH</button>
    <button class="btn btn-info ms-2" (click)="switchlan('ml')">MALAYALAM</button>
    <button class="btn btn-info ms-2" (click)="switchlan('ta')">TAMIL</button>
    <button class="btn btn-info ms-2" (click)="switchlan('de')">GERMAN</button>
    <button class="btn btn-info ms-2" (click)="switchlan('fr')">FRENCH</button>


 

    
</body>
</html>