*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #ecefdc;
}

.highlight{
    background-color: #f90505;
    font-size: 35px;
    text-align: center;
    color: white;

}
.style{
    text-align: center;
    color: rgb(162, 0, 255);
    font-size: 25px;
}