body{
    background-color: aqua;
    padding-bottom: 80%;
    margin: 0px;
    text-align: center;
}
*{
    margin: 0px;
    padding: 0px;
}
p{
    font-size:25px;
    color: white;
    text-shadow: 1px 1px 2px black;
}