<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Angular</title>
</head>
<body >
    <h1 style="color: red; text-align: center; text-shadow: 2px 2px 4px black; font-size: 50px;">Header Component</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet omnis quasi a odit totam vero voluptatum obcaecati quae illum magni! Veritatis porro dolores
         distinctio. Sequi facere nobis quod dolorum hic.</p>
</body>
</html>